header {
  width: 100vw;
  height: 30px;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

nav a {
  margin: 5px 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-style: italic;
}

nav a:hover {
  text-decoration: underline;
}

nav a:visited {
  color: blue;
}

.left {
  margin-right: auto;
}
